{% extends 'base_menu.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block center %}
    <style>
        #player {
            position: relative;
        }

        #buttons {
            display: inline-block;
            width: 92px;
        }

        #buttons button {
            border: none;
            background: none;
        }

        #seek-bar {
            padding-bottom: 3px;
            display: inline-block;
            width: calc(100% - 200px);
        }

        input[type=range] {
            height: 22px;
            -webkit-appearance: none;
            margin: 10px 0;
            width: 100%;
        }

        input[type=range]:focus {
            outline: none;
        }

        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 0px 0px 0px #000000;
            background: #808080;
            border-radius: 0px;
            border: 0px solid #010101;
        }

        input[type=range]::-webkit-slider-thumb {
            box-shadow: -80px 0 0 80px royalblue;
            border: 0px solid #00001E;
            height: 16px;
            width: 16px;
            border-radius: 11px;
            background: #4285F4;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -5.5px;
        }

        input[type=range]:focus::-webkit-slider-runnable-track {
            background: #808080;
        }

        input[type=range]::-moz-range-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 0px 0px 0px #000000;
            background: #808080;
            border-radius: 0px;
            border: 0px solid #010101;
        }

        input[type="range"]::-moz-range-progress {
            background-color: royalblue; 
        }

        input[type=range]::-moz-range-thumb {
            box-shadow: 0px 0px 0px #000031;
            border: 0px solid #00001E;
            height: 16px;
            width: 16px;
            border-radius: 11px;
            background: #4285F4;
            cursor: pointer;
        }

        input[type=range]::-ms-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            animate: 0.2s;
            background: transparent;
            border-color: transparent;
            color: transparent;
        }

        input[type=range]::-ms-fill-lower {
            background: royalblue;
            border: 0px solid #010101;
            border-radius: 0px;
            box-shadow: 0px 0px 0px #000000;
        }

        input[type=range]::-ms-fill-upper {
            background: #808080;
            border: 0px solid #010101;
            border-radius: 0px;
            box-shadow: 0px 0px 0px #000000;
        }

        input[type=range]::-ms-thumb {
            margin-top: 1px;
            box-shadow: 0px 0px 0px #000031;
            border: 0px solid #00001E;
            height: 16px;
            width: 16px;
            border-radius: 11px;
            background: #4285F4;
            cursor: pointer;
        }

        input[type=range]:focus::-ms-fill-lower {
            background: #808080;
        }

        input[type=range]:focus::-ms-fill-upper {
            background: #808080;
        }

        #volume-bar {
            padding-bottom: 3px;
            display: inline-block;
            width: 69px;
            margin-left: 5px;
        }
    </style>

    <div class="card card-body py-2 px-2">
        <input type="text" class="form-control w-100" placeholder="Поиск" id="music-search-input">
    </div>

    <div class="card card-body py-2 px-2">
        <div id="player">
            <div id="song-title" class="w-100 text-center text-nowrap"></div>
            <div id="buttons">
                <button onclick="playPerv()"><i id="perv" class="fa fa-chevron-left" aria-hidden="true"></i></button>
                <button onclick="btnPlayPause()"><i id="play-pause" class="fa fa-play" aria-hidden="true"></i></button>
                <button onclick="playNext()"><i id="next" class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>
            <div id="seek-bar" class="mt-0">
                <input id="progress-range" type="range" class="my-0 pt-2" min="0" max="100" value="0">
            </div>
            <i class="fa fa-volume-up ml-1" style="display: inline-block;" aria-hidden="true"></i>
            <div id="volume-bar">
                <input id="volume-range" type="range" class="my-0 pt-2" min="0" max="100" value="75">
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush infinite-container" id="music-list">
                {% include 'music/search.html' %}
    </ul>
{% endblock %}

{% block right %}
    {% include 'music/right_menu.html' %}
{% endblock %}

{% block extra__js %}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
    <script>
        let current_position = 0
        let audio_player = new Audio()
        let is_paused = true

        $(function () {
            audio_player.volume = 0.75
            setMusicById(current_position)
        })

        $('#progress-range').on('change input', function (e) {
            let value = e.target.value
            let duration = audio_player.duration

            audio_player.currentTime = (value * duration) / 100
        })

        $('#volume-range').on('change input', function (e) {
            audio_player.volume = e.target.value / 100
        })

        audio_player.addEventListener('ended', function () {
            is_paused = false
            playNext()
        })

        audio_player.addEventListener('pause', function () {
            is_paused = true
        })

        audio_player.addEventListener('play', function () {
            is_paused = false
        })

        audio_player.addEventListener('timeupdate', function () {
            let new_pos = audio_player.currentTime / audio_player.duration

            $('#progress-range').val(new_pos * 100)
        })

        function playNext() {
            let count = $('#simpleList').children().length - 1
            if (current_position == count) {
                current_position = 0
            } else {
                current_position++
            }
            setMusicById(current_position)
        }

        function playPerv() {
            let count = $('#simpleList').children().length - 1
            if (current_position == 0) {
                current_position = count
            } else {
                current_position--
            }
            setMusicById(current_position)
        }

        function btnPlayPause() {
            if (is_paused) {
                $('#play-pause').removeClass('fa-play')
                $('#play-pause').addClass('fa-pause')
                audio_player.play()
                return
            }
            $('#play-pause').removeClass('fa-pause')
            $('#play-pause').addClass('fa-play')
            audio_player.pause()
        }

        function setMusicById(id) {
            if (id > $('#simpleList').children().length) {
                return false
            }
            let $info = $('#simpleList').children().eq(id).find('input[name="info"]')
            $('#song-title').html($info.attr('music-name'))
            audio_player.src = $info.val()
            current_position = id

            if (!is_paused) {
                audio_player.play()
            }
        }

        function setMusicBtn(e) {
            // Set position
            let $item = $(e.target.parentNode)
            for (let i=0; i <= $('#simpleList').children().length; i++) {
                if ($('#simpleList').children().eq(i).is($item)) {
                    current_position = i
                }
            }

            // Set name and link into player
            let $info = $item.children('input[name="info"]')
            $('#song-title').html($info.attr('music-name'))
            audio_player.src = $info.attr('value')
            $(audio_player).on('loadeddata', function () {
                audio_player.play()
            })

            btnPlayPause()
        }

        var sortable = new Sortable(
            simpleList,
            {
                animation: 150,
                onEnd: function (evt) {
                    var matches = $('[id^=music_]')
                    var res_elements = []
                    for (const x of Array(matches.length).keys()){
                        res_elements.push(Number(matches[x].value))
                    }

                    $.ajax({
                        type: "POST",
                        url: '/music/' + '{{ c_user.profile.custom_url }}' + '/',
                        data: {
                        csrfmiddlewaretoken: getCookie('csrftoken'),
                        'music_order': String(res_elements)
                        },
                        success: function (result) {
                            
                        }
                    })		 
                },
            }
        )
    </script>
    <script src="{% static 'js/music_search.js' %}"></script>
{% endblock extra__js %}
