{% extends 'base_menu.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block center %}
    <div class="card card-body">
        <audio id="audio-player" class="float-right player" controls></audio>
    </div>

    <div class="card mt-3">
        <div class="card-body text-left">
            {% for music in music_list %}
                <button class="btn btn-outline-success px-3 py-2" onclick="setMusic('{{ music.audio_file.url }}')">
                    <i class="fa fa-play" aria-hidden="true"></i>
                </button>
                <span>{{ music.artist }} - {{ music.title }}</span>
                <br class="mb-3">
                {% if not forloop.last %}<hr>{% endif %}
            {% empty %}
                <p class="mb-0">Список музыки пуст</p>
            {% endfor %}
        </div>
    </div>

    <script>
        function setMusic(link) {
            let audio_player = document.getElementById('audio-player');
            audio_player.src = link;
            audio_player.autoplay = true;
        }

    </script>
{% endblock %}

{% block right %}
    {% include 'music/right_menu.html' %}
{% endblock %}
