<div class="music-right-menu">
    <a class="mt-0 btn waves-effect mx-0 w-100 pl-3 pr-1 text-left py-2 
        {% if music_pages == 'my_list' and user == c_user %}btn-primary{% else %}btn-outline-primary{% endif %}" href="/accounts/profile/{{ user.profile.custom_url }}/music/">
        Моя музыка
    </a>
    <a class="btn waves-effect mx-0 w-100 pl-3 pr-1 text-left py-2 
        {% if music_pages == 'upload' %}btn-primary{% else %}btn-outline-primary{% endif %}" href="/music/upload/">
        Добавить музыку
    </a>
    <a class="btn waves-effect mx-0 w-100 pl-3 pr-1 text-left py-2
        {% if music_pages == 'search' %}btn-primary{% else %}btn-outline-primary{% endif %}" href="/music/search/">
        Поиск
    </a>
</div>
