{% extends 'base_menu.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block center %}
    <style>
        #player {
            position: relative;
        }

        #buttons {
            display: inline-block;
            width: 92px;
        }

        #buttons button {
            border: none;
            background: none;
        }

        #seek-bar {
            padding-bottom: 3px;
            display: inline-block;
            width: calc(100% - 200px);
        }

        input[type=range] {
            height: 22px;
            -webkit-appearance: none;
            margin: 10px 0;
            width: 100%;
        }

        input[type=range]:focus {
            outline: none;
        }

        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 0px 0px 0px #000000;
            background: #808080;
            border-radius: 0px;
            border: 0px solid #010101;
        }

        input[type=range]::-webkit-slider-thumb {
            box-shadow: -80px 0 0 80px royalblue;
            border: 0px solid #00001E;
            height: 16px;
            width: 16px;
            border-radius: 11px;
            background: #4285F4;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -5.5px;
        }

        input[type=range]:focus::-webkit-slider-runnable-track {
            background: #808080;
        }

        input[type=range]::-moz-range-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 0px 0px 0px #000000;
            background: #808080;
            border-radius: 0px;
            border: 0px solid #010101;
        }

        input[type="range"]::-moz-range-progress {
            background-color: royalblue; 
        }

        input[type=range]::-moz-range-thumb {
            box-shadow: 0px 0px 0px #000031;
            border: 0px solid #00001E;
            height: 16px;
            width: 16px;
            border-radius: 11px;
            background: #4285F4;
            cursor: pointer;
        }

        input[type=range]::-ms-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            animate: 0.2s;
            background: transparent;
            border-color: transparent;
            color: transparent;
        }

        input[type=range]::-ms-fill-lower {
            background: royalblue;
            border: 0px solid #010101;
            border-radius: 0px;
            box-shadow: 0px 0px 0px #000000;
        }

        input[type=range]::-ms-fill-upper {
            background: #808080;
            border: 0px solid #010101;
            border-radius: 0px;
            box-shadow: 0px 0px 0px #000000;
        }

        input[type=range]::-ms-thumb {
            margin-top: 1px;
            box-shadow: 0px 0px 0px #000031;
            border: 0px solid #00001E;
            height: 16px;
            width: 16px;
            border-radius: 11px;
            background: #4285F4;
            cursor: pointer;
        }

        input[type=range]:focus::-ms-fill-lower {
            background: #808080;
        }

        input[type=range]:focus::-ms-fill-upper {
            background: #808080;
        }

        #volume-bar {
            padding-bottom: 3px;
            display: inline-block;
            width: 69px;
            margin-left: 5px;
        }
    </style>

    <div class="card card-body py-2 px-2">
        <input type="text" class="form-control w-100" placeholder="Найти сообщества" id="music-search-input">
    </div>

    <div class="card mt-3">
        <div class="card-body text-left" id="simpleList">
            <ul class="list-group list-group-flush infinite-container" id="music-list">
                {% include 'music/search.html' %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block right %}
    {% include 'music/right_menu.html' %}
{% endblock %}

{% block extra__js %}
    <script src="{% static 'js/music_search.js' %}"></script>
{% endblock %}