{% load static %}
<button type="button"
            class="btn btn-outline-dark float-right"
            data-placement="top"
            title="Добавить участника"
            style="display: inline-block;"
            data-toggle="modal"
            data-target="#AddToConvModal"
            onclick="">
        <img src="https://image.flaticon.com/icons/svg/1828/1828925.svg" width="20" height="20">
</button>

<div class="modal fade" id="AddToConvModal" tabindex="-1" role="dialog" aria-labelledby="AddToConvModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="AddToConvModalLabel">Добавить участников</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="asd">
            {% if user.profile.friends.all %}
                <ul class="list-group list-group-flush" id="friend-list">
                    {% for friend in user.profile.friends.all %}
                        {% if friend not in c_room.participants.all %}
                            <li class="list-group-item">
                                <img src="{{ friend.profile.image.url }}" class="rounded-circle border border-dark float-left" width=35 height=35>
                                <a class="float-left ml-2" style="text-decoration: none;" href="/accounts/profile/{{ friend.id }}/">{{ friend.profile.get_name }}</a>
                                <script src="{% static 'js/add_to_chat.js' %}"></script>
                                <script>
                                    csr_token = '{{ csrf_token }}';
                                </script>
                                <button type="button"
                                            class="btn btn-outline-dark float-right"
                                            data-placement="top"
                                            title="Добавить"
                                            style="display: inline-block;"
                                            onclick="addToChat(event, '/chat/{{ c_room.id }}/add/{{ friend.id }}/')">
                                        <img src="https://image.flaticon.com/icons/svg/1828/1828925.svg" width="20" height="20">
                                </button>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                Список чатов пуст
            {% endif %}
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
    </div>
</div>
