{% extends 'base_menu.html' %}
{% block center %}

<div class="card">
        <div class="card">
        <div class="card-body">
            {% if user == c_user %}
                <h5>Ваши чаты</h5>
                <hr>
                {% if c_user.profile.friends %}
                    <ul class="list-group list-group-flush" id="friend-list">
                        {% for friend in c_user.profile.friends %}
                            <li class="list-group-item">
                                <img src="{{ friend.profile.image.url }}" class="rounded-circle border border-dark float-left" width=35 height=35>
                                <a href="/accounts/profile/{{ friend.id }}/" class="float-left ml-2">{{ friend.username }}</a>
                                <div>
                                    <form action="/chats/{{ user.id }}/{{ friend.id }}/" method="POST">
                                        {% csrf_token %}
                                        <input class="float-right btn btn-outline-secondary" type="submit" value="text">
                                     </form>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    Список друзей пуст.
                {% endif %}
            {% endif %}
        </div>
    </div>




{% endblock %}
