<style>
    #id-last-msg {
        display: inline-block;
        text-align: left;

        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    @media only screen and (max-width: 1026px) {
        #id-last-msg {
            display: none;
        }
    }
</style>

{% if chats %}
    <ul class="list-group list-group-flush" id="chat-list">
        {% for chat in chats %}
            <div>
                <li class="list-group-item">
                    <img src="{% if chat.is_dialog %}{% if chat.participants.all.1 != c_user %}{{ chat.participants.all.1.profile.image.url }}{% else %}{{ chat.participants.all.0.profile.image.url }}{% endif %}{% else %}{{ chat.image.url }}{% endif %}" class="rounded-circle border border-dark float-left" width=35 height=35>
                    {% if chat.is_dialog %}
                        {% if chat.participants.all.1 != c_user %}
                            <a class="float-left ml-2" style="text-decoration: none;" href="/accounts/profile/{{ chat.participants.all.1.id }}/">{{ chat.participants.all.1.profile.get_name }}</a>
                        {% else %}
                            <a class="float-left ml-2" style="text-decoration: none;" href="/accounts/profile/{{ chat.participants.all.0.id }}/">{{ chat.participants.all.0.profile.get_name }}</a>
                        {% endif %}
                    {% else %}
                        <a class="float-left ml-2" style="text-decoration: none;" href="/chat/go_to_chat/{{ chat.id }}/" id="chat-name-link">{{ chat.chat_name }}</a>
                    {% endif %}
                    {% if chat.last_message %}
                        <p id="id-last-msg" class="float-left text-muted ml-3">{{ chat.last_message.author.profile.get_name }}: {{ chat.last_message.message }}</p>
                    {% endif %}
                    {% load static %}
                    <script src="{% static 'js/quitChat.js' %}"></script>
                    <script>
                        csr_token = '{{ csrf_token }}';
                    </script>
                    {% if not chat.is_dialog and user != chat.owner %}
                        <button class="float-right btn btn-outline-secondary" onclick="quitChat(event, '/chat/quit/{{ chat.id }}/')">Quit</button>
                    {% endif %}
                    <a class="float-right btn btn-outline-secondary mr-2" href="/chat/go_to_chat/{{ chat.id }}/">Text</a>
                    <script>
                    </script>
                </li>
            </div>
        {% endfor %}
    </ul>
{% else %}
    Список чатов пуст
{% endif %}
