{% if chats %}
    <ul class="list-group list-group-flush" id="chat-list">
        {% for chat in chats %}
            <div>
                <li class="list-group-item">
                    <img src="{% if chat.is_dialog %}{% if chat.participants.all.1 != c_user %}{{ chat.participants.all.1.profile.image.url }}{% else %}{{ chat.participants.all.0.profile.image.url }}{% endif %}{% else %}{{ chat.image.url }}{% endif %}" class="rounded-circle border border-dark float-left" width=35 height=35>
                    {% if chat.is_dialog %}
                        {% if chat.participants.all.1 != c_user %}
                            <a class="float-left ml-2" style="text-decoration: none;" href="/accounts/profile/{{ chat.participants.all.1.id }}/">{{ chat.participants.all.1.profile.get_name }}</a>
                        {% else %}
                            <a class="float-left ml-2" style="text-decoration: none;" href="/accounts/profile/{{ chat.participants.all.0.id }}/">{{ chat.participants.all.0.profile.get_name }}</a>
                        {% endif %}
                    {% else %}
                        <p class="float-left ml-2">{{ chat.chat_name }}</p>
                    {% endif %}
                    {% load static %}
                    <script src="{% static 'js/quitChat.js' %}"></script>
                    <script>
                        csr_token = '{{ csrf_token }}';
                    </script>
                    <button class="float-right btn btn-outline-secondary" onclick="quitChat(event, '/chat/quit/{{ chat.id }}/')">Quit</button>
                    <a class="float-right btn btn-outline-secondary mr-2" href="/chat/go_to_chat/{{ chat.id }}/">Text</a>
                </li>
            </div>
        {% endfor %}
    </ul>
{% else %}
    Список чатов пуст
{% endif %}