{% load static %}
<button type="button"
            class="btn btn-outline-dark float-right mr-3"
            data-placement="top"
            title="Редактировать"
            style="display: inline-block;"
            data-toggle="modal"
            data-target="#EditConvModal"
            onclick="">
        <img src="{% static 'img/edit_icon.svg' %}" width="20" height="20">
</button>

<div class="modal fade" id="EditConvModal" tabindex="-1" role="dialog" aria-labelledby="EditConvModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="EditConvModalLabel">Редактировать чат</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="text-center">
                <h5 class="text-center">Аватар</h5>
                <a href="/chat/change_avatar/{{ c_room.id }}/">
                    <button class="btn btn-primary text-center">Сменить</button>
                </a>
            </div>
            <hr>
            <h5 class="text-center">Имя чата</h5>
            <textarea class="form-control w-100" rows="1" style="resize: none; padding: 0px 2px;" id="id-chat-name-change">{{ c_room.chat_name }}</textarea>
            <hr>
            {% if c_room.participants.all %}
                <h5 class="text-center">Участники</h5>
                <ul class="list-group list-group-flush" id="friend-list-modal">
                    {% for participant in c_room.participants.all %}
                        {% if participant != user %}
                            <div>
                                <li class="list-group-item">
                                    <img src="{{ participant.profile.image.url }}" class="rounded-circle border border-dark float-left" width=35 height=35>
                                    <a class="float-left ml-2" style="text-decoration: none;" href="/accounts/profile/{{ participant.id }}/">{{ participant.profile.get_name }}</a>
                                    <script src="{% static 'js/remove_from_chat.js' %}"></script>
                                    <script>
                                        csr_token = '{{ csrf_token }}';
                                    </script>
                                    <button type="button"
                                                class="btn btn-outline-dark float-right"
                                                data-placement="top"
                                                title="Добавить"
                                                style="display: inline-block;"
                                                onclick="removeFromChat(event, '/chat/{{ c_room.id }}/remove/{{ participant.id }}/')">
                                            <img src="{% static 'img/cross_icon.svg' %}" width="20" height="20">
                                    </button>
                                </li>
                            </div>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                Список участников пуст
            {% endif %}
          </div>
          <div class="modal-footer">
              <script src="{% static 'js/edit_chat_name.js' %}"></script>
              <script>
                  csr_token = '{{ csrf_token }}';
              </script>
              <button class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              <button class="btn btn-primary" data-dismiss="modal" onclick="editChatName(event, '/chat/edit_chat_name/{{ c_room.id }}/')">Сохранить</button>
          </div>
        </div>
    </div>
</div>