{% extends 'chat/base.html' %}
{% block center %}

    <div class="card" style="height: 750px">
        <div class="card-header bg-white">
            <div class="row">
                <div class="col-5 text-right pr-0">
                    <img src="{{ first_user.profile.image.url }}" id="chat_avatar" class="rounded-circle border border-dark" width=35 height=35>
                </div>
                <div class="col-7 text-left pl-2">
                    <a href="/accounts/profile/{{ first_user.id }}/" id="chat_name">{{ first_user.profile.get_name }}</a>
                    <br>
                    <small class="text-muted" id="chat_status">{{ first_user.profile.get_status }}</small>
                </div>
            </div>
        </div>
        <div class="card-body text-center">
            <div style="display: flex; flex-direction: column; flex-wrap: nowrap; overflow-y: scroll; overflow-x: hidden;" id="messages_list" class="h-100">
                {% if messages_list %}
                    {% for message in messages_list %}
                        <div class="row" {% if forloop.first %}style="margin-top: auto;"{% endif %}>
                            <div class="col-lg-1 col-sm-1">
                                <img src="{{ message.author.profile.image.url }}" class="rounded-circle border border-dark ml-lg-2 ml-md-1" width=35 height=35>
                            </div>
                            <div class="col-lg-11 col-sm-11 text-left">
                                <a href="#">{{ message.author.username }}</a>
                                <small class="text-muted ml-1">{{ message.date }}</small>
                                <p>{{ message.message }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-center" style="margin-top: auto;">Список сообщений пуст</p>
                {% endif %}

            </div>
        </div>
        <div class="card-footer bg-white">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" onclick="triggerInput()">
                        <img src="https://image.flaticon.com/icons/svg/1507/1507585.svg" width=20 height=20>
                    </button>
                </div>
                <textarea class="form-control w-100" rows="1" style="resize: none; padding: 0px 2px;" id="chat-message-input"></textarea>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id='chat-message-submit'>
                        <img src="https://image.flaticon.com/icons/svg/786/786205.svg" width=20 height=20>
                    </button>
                </div>
                
                <input type="file" id="message_files" style="display: none;">
            </div>
        </div>
    </div>

    {% load static %}
    <script>
        const roomName = {{ room_name }};
        const user_id = {{ user.id }};
        const c_token = '{{ csrf_token }}';
    </script>
    <script src="{% static 'js/autosize.min.js' %}"></script>
    <script src="{% static 'js/messagesockets.js' %}" type="text/javascript"></script>

{% endblock %}

{% block right %}
    {% include 'chat/right_menu.html' %}
{% endblock %}
