django
django-crispy-forms
django-allauth
Pillow
django-simple-search
django-countries
easy_thumbnails
django-image-cropping
django-s3-storage

# for postgresql
gunicorn==20.0.4
psycopg2-binary==2.8.4
