{% extends 'base_menu.html' %}

{% load static %}

{% block center %}
{% endblock center %}

{% block right %}
    <div class="friends-right-menu">
        <a class="mt-0 btn btn-outline-primary waves-effect mx-0 w-100 pl-3 pr-1 text-left py-2" href="/friends/{{ user.id }}/">
            Мои друзья
        </a>
        {% if user == c_user %}
            <a class="btn btn-outline-primary waves-effect mx-0 w-100 pl-3 pr-1 text-left py-2" href="/friends/requests/">
                Заявки
            </a>
        {% endif %}
        <a class="btn btn-outline-primary waves-effect mx-0 w-100 pl-3 pr-1 text-left py-2" href="/friends/{{ user.id }}/blacklist/">
            Черный список
        </a>
    </div>
{% endblock right %}

{% block extra__js %}
    <script src="{% static 'js/manage_friends.js' %}"></script>
    <script src="{% static 'js/noframework.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script>
     var infinite = new Waypoint.Infinite({
	 element: $('.infinite-container')[0]
     });
    </script>
{% endblock extra__js %}
