{% extends 'friends/base.html' %}

{% block center %}
    <div class="card">
        <div class="card-body">
            <h4 class="text-center">Входящие заявки:</h4>
            <ul class="list-group list-group-flush text-left" id="incoming-requests-list">
                {% if friendship.incoming %}
                    {% for request in friendship.incoming %}
                        <li class="list-group-item">
                            <img src="{{ request.from_user.profile.image.url }}" class="rounded-circle border border-dark" width="35" height="35">
                            <a href="/accounts/profile/{{ request.from_user.id }}/">{{ request.from_user.profile.get_name }}</a>

                            <button type="button" 
                                    class="btn btn-outline-dark float-right" 
                                    data-toggle="tooltip" 
                                    data-placement="top" 
                                    title="Принять заявку в друзья"
                                    onclick="acceptRequest2(event, {{ request.from_user.id }})">
                                <img src="https://image.flaticon.com/icons/svg/447/447147.svg" width="20" height="20">
                            </button>

                            <button type="button" 
                                    class="btn btn-outline-dark float-right mr-2" 
                                    data-toggle="tooltip" 
                                    data-placement="top" 
                                    title="Отклонить заявку в друзья"
                                    onclick="cancelRequest2(event, {{ request.from_user.id }})">
                                <img src="https://image.flaticon.com/icons/svg/748/748122.svg" width="20" height="20">
                            </button>
                        </li>
                    {% endfor %}
                {% else %}
                    <p class="mb-0 text-center">Никто не хочет с вами дружить ((</p>
                {% endif %}
            </ul>
            <br>
            <h4 class="text-center">Исходящие заявки:</h4>
            <ul class="list-group list-group-flush text-left" id="outcoming-requests-list">
                {% if friendship.outcoming %}
                    {% for request in friendship.outcoming %}
                        <li class="list-group-item">
                            <img src="{{ request.to_user.profile.image.url }}" class="rounded-circle border border-dark" width="35" height="35">
                            <a href="/accounts/profile/{{ request.to_user.id }}/">{{ request.to_user.username }}</a>

                            <button type="button" 
                                    class="btn btn-outline-dark float-right" 
                                    data-toggle="tooltip" 
                                    data-placement="top" 
                                    title="Отменить заявку в друзья"
                                    onclick="cancelRequest2(event, {{ request.to_user.id }})">
                                <img src="https://image.flaticon.com/icons/svg/748/748122.svg" width="20" height="20">
                            </button>
                        </li>
                    {% endfor %}
                {% else %}
                    <p class="mb-0 text-center">Исходящих заявок нет.</p>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock center %}
