{% extends 'base_menu.html' %}
{% load crispy_forms_tags %}

{% block center %}
<script src="https://kit.fontawesome.com/8c5f8983b2.js" crossorigin="anonymous"></script>
    <div class="card mt-3">
        <div class="card-body">
            <audio id="audio-player" class="w-100" controls></audio>
            <button><i class="fas fa-chevron-right"></i></button>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body text-left">
            {% for music in music_list %}
                <button class="btn btn-outline-success" onclick="setMusic('{{ music.audio_file.url }}')">&#9658;</button>
                <span>{{ music.artist }} - {{ music.title }}</span>
                <br class="mb-3">
            {% endfor %}
        </div>
    </div>

    <script>
        function setMusic(link) {
            let audio_player = document.getElementById('audio-player');
            audio_player.src = link;
            audio_player.autoplay = true;
        }

    </script>
{% endblock %}

{% block right %}
    {% include 'music/right_menu.html' %}
{% endblock %}
