{% extends 'base_menu.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block center %}
    <style>
        .button_bg { 
            background-color: rgb(241, 242, 244);
            border-radius: 20%; 
            height: 55px;
            padding: 0px;
        }
        .player {
            color: rgba(255, 255, 255, .5);
            color: #343a40;
            width: 68%;
        }
    </style>

    <script src="https://kit.fontawesome.com/8c5f8983b2.js" crossorigin="anonymous"></script>
    <div class="mt-3">
        <div class="button_bg w-100 text-left">        
            <button type="button" class="btn btn-outline-light button1 mt-2 ml-5">
                <img src="{% static 'img/left.png' %}" alt="" style="width: 25px; height: 25px;">
            </button>
            <button type="button" class="btn btn-outline-light button2 mt-2 ml-3">
                <img src="{% static 'img/right.png' %}" alt="" style="width: 25px; height: 25px;">
            </button>
            <audio id="audio-player" class="mt-2 float-right mr-5 player" controls></audio>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body text-left">
            {% for music in music_list %}
                <button class="btn btn-outline-success" onclick="setMusic('{{ music.audio_file.url }}')">&#9658;</button>
                <span>{{ music.artist }} - {{ music.title }}</span>
                <br class="mb-3">
            {% endfor %}
        </div>
    </div>

    <script>
        function setMusic(link) {
            let audio_player = document.getElementById('audio-player');
            audio_player.src = link;
            audio_player.autoplay = true;
        }

    </script>
{% endblock %}

{% block right %}
    {% include 'music/right_menu.html' %}
{% endblock %}
