.badge-right:before {
    content: attr(data-count);
    width: 32px;
    height: 100%;
    line-height: 36px;
    text-align: center;
    display: block;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    color: #4285F4;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 999;
}
