{% extends 'profile/base.html' %}
{% load static %}

{% block content %}
<script src="https://kit.fontawesome.com/8c5f8983b2.js" crossorigin="anonymous"></script>
    <p class="mt-3">Список лайкнутых постов.</p>
    {% if user.profile.liked_posts.all %}
        {% for post in user.profile.liked_posts.all %}
            {% include 'post.html' %}
        {% endfor %}
    {% else %}
        <p class="mt-3">Лайкнутых постов нет.</p>
    {% block extra__js %}
                <script src="{% static 'js/like_post.js' %}"></script>
    {% endblock extra__js %}
    {% endif %}
{% endblock %}
