{% extends 'base.html' %}
{% load static %}

{% block main %}
    <link rel="stylesheet" href='{% static "css/style_profile_page.css" %}'>
<!--
    <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Brand</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Vk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Facebook</a>
                    </li>
                    Возможно понадобится в будующем
                </ul>
            </div>
        </nav>
    </header>
    </body>
-->
    <main>
        <div class='main_div'>
            <div class="row left_div">
                <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="active_btn" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                           aria-selected="true">Профиль</a>
                        <a class="nav-link more" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                           aria-selected="false">Настройки</a>
                        <!--<a class="nav-link more" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Vk</a>
                        <a class="nav-link more" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Facebook</a>
                        Возможно понадобится в будующем-->
                    </div>
                </div>

            </div>

            <div class="card profile_div">
                <img src="{% static 'img/unknown_profile.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        {% if c_user.first_name and c_user.last_name %}
                            {{ c_user.first_name }} {{ c_user.last_name }}
                        {% else %}
                            {{ c_user.username }}
                        {% endif %}
                    </h5>
                    <hr class="mt-0 mb-1">
                    <p class="card-text">Оффлайн/Онлайн</p>
                    <p class="card-text">Пол: {{ c_user.profile.get_gender_display }}</p>
                </div>
                <div class="card-body">
                    {% if c_user == user %}
                        <a class="btn btn-primary my_btn active_btn" id="v-pills-home-tab" data-toggle="pill"
                           href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Edit</a>
                    {% endif %}
                </div>
            </div>

            <div class="card text-center info_div">
                <div class="card-body">
                    <p class="card-text">
                        {% if c_user.profile.job %}
                            {{ c_user.profile.job }}
                        {% else %}
                            Место работы/учебы не указано
                        {% endif %}
                    </p>
                    <p class="card-text">
                        {% if c_user.profile.biography %}
                            {{ c_user.profile.biography }}
                        {% else %}
                            Биография не указана
                        {% endif %}
                    </p>
                    <p class="card-text">
                        {% if c_user.profile.country %}
                            {{ c_user.profile.country }}
                        {% else %}
                            Город не указан
                        {% endif %}
                    </p>
                    <p class="card-text">
                        {% if c_user.profile.birth %}
                            {{ c_user.profile.birth }}
                        {% else %}
                            Дата рождения не указана
                        {% endif %}
                    </p>
                    {% if c_user.profile.show_email %}
                        <p class="card-text">
                            {% if c_user.email %}
                                {{ c_user.email }}
                            {% else %}
                                Почта не указана
                            {% endif %}
                        </p>
                    {% endif %}
                    {% if c_user == user %}
                        <a href="#" class="btn btn-primary active_btn" style="width: 200px;">Edit</a>
                    {% endif %}
                </div>
            </div>
            {% if c_user.profile.posts %}
                {% for post in c_user.profile.posts %}
                    <div class="card mb-3 post_div">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.name_of_post }}</h5>
                            <p class="card-text"><small class="text-muted">{{ post.data }}</small></p>
                            <p class="card-text">{{ post.text }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h4>Постов нету</h4>
            {% endif %}
        </div>
    </main>
{% endblock %}
