{% extends 'profile/base.html' %}
{% load static %}
{% load cropping %}

{% block content %}

  <div class="row text-left">
    <div class="col-xl-3">
      <div class="card">
        <style>
          .rollover {
            transition: 0.3s;
          }
          .rollover:hover {
            transition: 0.7s;
            opacity: 0.7;
          }
          .kollaz{
            display: flex;
             flex-wrap: wrap;
          }
        </style>
        {% if user == c_user %}
          <a href="/accounts/profile/{{ c_user.id }}/change_avatar/">
            <img src="{% cropped_thumbnail c_user.profile "cropping" %}" class="card-img-top rollover"></img>
          </a>
        {% else %}
          <img src="{% cropped_thumbnail c_user.profile "cropping" %}" class="card-img-top"></img>
        {% endif %}
        <div class="card-body">
          {% if c_user == user %}
            <hr class="mt-0">
            <a href="/accounts/profile/{{ c_user.id }}/edit_profile/" class="btn btn-block btn-primary">Редактировать</a>
          {% else %}
              <hr class="mt-0">
              {% if pass_add_to_friends %}
              <form method="POST" action="/friends/send_request/{{ c_user.id }}/">
                {% csrf_token %}
                <input class="btn btn-block btn-primary" type="submit" value="Добавить в друзья">
            </form>
              {% else %}
                  <p class="btn btn-block btn-primary">Вы в черном списке</p>
          {% endif %}
        {% endif %}
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <h6 class="card-title">Друзья</h6>
        </div>
      </div>
      <div class="card mt-3 mb-3">
        <div class="card-body">
          <h6 class="card-title">Сообщества</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title float-left">{% if c_user.first_name or c_user.last_name %}{{ c_user.first_name }} {{ c_user.last_name }}{% else %}{{ c_user.username }}{% endif %}</h5>
          <small class="float-right text-muted">{% if is_online %}Онлайн{% else %}Оффлайн{% endif %}</small>
          <br><hr>
          <p class="card-text">{{ c_user.profile.get_gender_display }}</p>
          <p class="card-text">
            {% if c_user.profile.job %}
                {{ c_user.profile.job }}
            {% else %}
                Место работы/учебы не указано
            {% endif %}
          </p>
          <p class="card-text">
            {% if c_user.profile.biography %}
                {{ c_user.profile.biography }}
            {% else %}
                Биография не указана
            {% endif %}
          </p>
          <p class="card-text">
            {% if c_user.profile.country %}
                {{ c_user.profile.country.name }}
            {% else %}
                Страна не указана
            {% endif %}
          </p>
          <p class="card-text">
            {% if c_user.profile.birth %}
                {{ c_user.profile.birth }}
            {% else %}
                Дата рождения не указана
            {% endif %}
          </p>
          {% if c_user.profile.show_email %}
            <p class="card-text">
              {% if c_user.email %}
                {{ c_user.email }}
              {% else %}
                Почта не указана
              {% endif %}
            </p>
          {% endif %}
        </div>
      </div>

      {% if c_user == user %}
        <div class="mt-3">
            {% include 'post_menu.html' %}
        </div>
      {% endif %}

      {% if c_user.profile.posts and pass_add_to_friends %}
        {% for post in c_user.profile.posts %}
          <div class="card mt-3">
            <div class="card-body">
              <img src="{% cropped_thumbnail post.user.profile "cropping" %}" class="rounded-circle border border-dark" width=35 height=35>
              <a href="/accounts/profile/{{ post.user.id }}/">{{ post.user.username }}</a>
              <p class="card-text mt-2">{{ post.text }}</p>
              <div class="kollaz">
              {% if post.get_images %}
                {% for post_img in post.get_images %}
                {% if post.get_images.count > 1 %}
                  <img src="{{ post_img.image.url }}" width="50%" class="mb-1">
                {%else%}
                   <img src="{{ post_img.image.url }}" width="100%" class="mb-1">
                {% endif %}
                {% endfor %}
              {% endif %}
              </div>

              <hr class="mt-1 mb-1">
              <span class="text-muted mb-0 float-right">{{ post.date }}</span>
            </div>
          </div>
        {% endfor %}
      {% else %}
          {% if pass_add_to_friends or user == c_user %}
            <h5 class="mt-3 text-center">Нет постов</h5>
          {% else %}
            <h5 class="mt-3 text-center">Не доступно для просмотра</h5>
          {% endif %}
      {% endif %}
    </div>
  </div>
<script>

</script>
{% endblock %}
