{% extends 'base_menu.html' %}
{% block center %}

<div class="card">
        <div class="card-body">
            <h5>Ваши чаты</h5>
        <ul id="all-messages">
            {% if mes %}
                {% for item in mes %}
                    <li class="list-group-item">
                        сообщение от {{ item.from_user }}
                        <hr>
                        {{ item.message }}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
            <textarea id="message-text"></textarea>
            <button class="btn btn-primary" type="submit" onclick="send_mess(event, '/chat/go_to_chat/{{ send_id }}/send_mes/')">Отправка сообщений</button>

        </div>
    </div>



{% endblock %}
{% block extra__js %}
    <script>
    function send_mess(e, link){
        let textar = document.getElementById("message-text");
        $.ajax({
            type: "POST",
            url: link,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                text: textar.value
            },
            success: function (result) {
                const li = document.createElement("div");
                li.innerHTML = `
                    <li class="list-group-item">
                        сообщение от ${result['sender']}
                        <hr>
                        ${textar.value}
                    </li>
                `
                document.getElementById('all-messages').appendChild(li);
                textar.value = "";
            }
        })
    }
    </script>






{% endblock %}
