{% extends 'base_menu.html' %}

{% load static %}

{% block center %}
{% endblock center %}

{% block right %}
    <ul class="list-group list-group-flush border">
        <li class="list-group-item"><a href="/friends/{{ user.id }}/">Мои друзья</a></li>
        {% if user == c_user %}
            <li class="list-group-item"><a href="/friends/requests/">Заявки</a></li>
        {% endif %}
        <li class="list-group-item"><a href="/friends/{{ user.id }}/blacklist/">Черный список</a></li>
    </ul>
{% endblock right %}

{% block extra__js %}
    <script src="{% static 'js/manage_friends.js' %}"></script>
    <script src="{% static 'js/noframework.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script>
     var infinite = new Waypoint.Infinite({
	 element: $('.infinite-container')[0]
     });
    </script>
{% endblock extra__js %}
