{% extends 'friends/base.html' %}

{% block center %}
    <div class="card">
        <div class="card-body">
            <h4 class="text-center">Черный список</h4>

            <ul class="list-group list-group-flush text-left" id="black-list">
                {% if c_user.profile.blacklist.all %}
                    {% for item in c_user.profile.blacklist.all %}
                        <li class="list-group-item">
                            <img src="{{ item.profile.image.url }}" class="rounded-circle border border-dark" width="35" height="35">
                            <a href="/accounts/profile/{{ item.id }}/">{{ item.username }}</a>

                            {% if c_user == user %}
                                <button type="button" 
                                        class="btn btn-outline-dark float-right" 
                                        data-toggle="tooltip" 
                                        data-placement="top" 
                                        title="Удалить из черного списка"
                                        onclick="removeBlacklist2(event, {{ item.id }})">
                                    <img src="https://image.flaticon.com/icons/svg/597/597356.svg" width="20" height="20">
                                </button>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    <p class="mb-0 text-center">В черном сиске никого нет.</p>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock center %}
