{% extends 'base_menu.html' %}

{% load cropping %}

{% block center %}
  <div class="card">
      <div class="card-body">
          {% if user == c_user %}
              <h5>Черный список</h5>
          {% else %}
              <h5>Forbidden</h5>
          {% endif %}
          <hr>

          {% if c_user.profile.blacklist.all %}
              <ul class="list-group list-group-flush" id="ex-friends-list">
                  {% for ex_friend in c_user.profile.blacklist.all %}
                      <li class="list-group-item">
                          <img src="{% cropped_thumbnail ex_friend.profile "cropping" %}" class="rounded-circle border border-dark float-left" width=35 height=35>
                          <a href="/accounts/profile/{{ ex_friend.id }}/" class="float-left ml-2">{{ ex_friend.username }}</a>
                          <button class="float-right btn btn-outline-secondary" onclick="removeFromBlacklist(event, '/friends/remove_blacklist/{{ ex_friend.id }}/')">&#128465;</button>
                      </li>
                  {% endfor %}
              </ul>
          {% else %}
              Никого нет в черном списке
          {% endif %}
      </div>
  </div>
{% endblock %}

{% block right %}
    {% include 'friends/right_menu.html' %}
{% endblock %}

{% block extra__js %}
    <script>
        function checkFriendList() {
            let exFriendList = document.getElementById('ex-friends-list');
            if (exFriendList.children.length == 0) {
                exFriendList.innerHTML = "Никого нет в черном списке"
            }
        }

        function removeFromBlacklist(e, link) {
            $.ajax({
                type: "POST",
                url: link,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function () {

                    e.target.parentNode.remove();
                    checkFriendList();
                }

            })
        }
    </script>
{% endblock %}
