{% extends 'base_menu.html' %}
{% load cropping %}

{% block center %}
    <div class="card">
        <div class="card-body">
            <h5>Входящие заявки</h5>
            {% if user.profile.friendship_inbox_requests %}
                <ul class="list-group list-group-flush">
                    {% for req in user.profile.friendship_inbox_requests %}
                        <li class="list-group-item">
                            <img src="{% cropped_thumbnail req.from_user.profile "cropping" %}" class="rounded-circle border border-dark float-left" width=35 height=35>
                            <a href="/accounts/profile/{{ req.from_user.id }}/" class="float-left ml-2">{{ req.from_user.username }}</a>

                            <form method="POST" action="/friends/accept_request/{{ req.id }}/">
                                {% csrf_token %}
                                <input class="float-right btn btn-outline-success" type="submit" value="&#10003;">
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                Никто не хочет с вами дружить ((
            {% endif %}
            <h5 class="mt-3">Исходящие заявки</h5>
            {% if user.profile.friendship_outbox_requests %}
                <ul class="list-group list-group-flush">
                    {% for req in user.profile.friendship_outbox_requests %}
                        <li class="list-group-item">
                            <img src="{% cropped_thumbnail req.to_user.profile "cropping" %}" class="rounded-circle border border-dark float-left" width=35 height=35>
                            <a href="/accounts/profile/{{ req.to_user.id }}/" class="float-left ml-2">{{ req.to_user.username }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                Пусто
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block right %}
    {% include 'friends/right_menu.html' %}
{% endblock %}
