{% extends 'base_menu.html' %}

{% block center %}
    {% if user.profile.friendship_requests %}
        {% for req in user.profile.friendship_requests %}
            {{ req.from_user.username }}
            <form method="POST" action="/friends/accept_request/{{ req.id }}/">
                {% csrf_token %}
                <input type="submit" value="Принять">
            </form>
            <br>
        {% endfor %}
    {% else %}
        У вас нет друзей.ха
    {% endif %}
{% endblock %}

{% block right %}
    {% include 'friends/right_menu.html' %}
{% endblock %}
