{% extends 'base_menu.html' %}
{% load cropping %}

{% block center %}
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Введите никнейм или имя пользователя."
                            aria-label="Recipient's username" aria-describedby="button-addon2" name="name">
                    <div class="input-group-append">
                        <input class="btn btn-outline-success" type="submit" id="button-addon2" value="Найти">
                    </div>
                </div>
            </form>
            <hr>
            {% if matches %}
                <ul class="list-group list-group-flush">
                    {% for match in matches %}
                        <li class="list-group-item">
                            <img src="{% cropped_thumbnail match.profile "cropping" %}" class="rounded-circle border border-dark float-left" width=35 height=35>
                            <a href="/accounts/profile/{{ match.id }}/" class="float-left ml-2">{{ match.username }}</a>

                            {% if match in user.profile.friends %}
                                <form method="POST" action="/friends/remove_friend/{{ match.id }}/">
                                    {% csrf_token %}
                                    <input class="float-right btn btn-outline-danger" type="submit" value="&#128465;">
                                </form>
                            {% else %}
                                <form method="POST" action="/friends/send_request/{{ match.id }}/">
                                    {% csrf_token %}
                                    <input class="float-right btn btn-outline-success" type="submit" value="+">
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h4>Пусто</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block right %}
    {% include 'friends/right_menu.html' %}
{% endblock %}
