<style>
    #drop-area.highlight {
        border: 2px dashed black;
    }

    .my-form {
        margin-bottom: 10px;
    }

    #gallery {
        margin-top: 10px;
        margin-left: 2px;
    }

    #gallery img {
        width: 100%;
        height: 100%;
        display: block;
        vertical-align: middle;
    }

    .button {
        display: inline-block;
        padding: 10px;
        background: #ccc;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .button:hover {
        background: #ddd;
    }

    #fileElem {
        display: none;
    }

    .close {
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        color:white;
        opacity: 0.6;
    }

    .close:hover {
        color:white;
        opacity: 1;
        cursor: pointer;
    }

    .close:before, .close:after {
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    .close:before {
        transform: rotate(45deg);
    }

    .close:after {
        transform: rotate(-45deg);
    }

    .img-div {
        display: inline-block;
        height: 45px;
        width: calc(10% - 3px);
        margin-right: 5px;
    }
</style>
<div id="drop-area" class="card">
    <div class="card-body text-left">
        <form method="POST" action="{{ action_type }}" enctype="multipart/form-data" class="post-form">
            {% csrf_token %}

            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" onclick="triggerInput()">
                        <img src="https://image.flaticon.com/icons/svg/1507/1507585.svg" width=20 height=20>
                    </button>
                </div>
                {{ postform }}
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <img src="https://image.flaticon.com/icons/svg/786/786205.svg" width=20 height=20>
                    </button>
                </div>
            </div>

            <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
            <div id="gallery"></div>

            {{ formset.management_form }}
            <div style="display: none;">
                {% for form in formset %}
                    {{ form }} <br>
                {% endfor %}
            </div>
        </form>
    </div>
</div>

<script>
    autosize(document.getElementById("id_text"));

    function triggerInput() {
        $('#fileElem')[0].click()
    }

    let dropArea = document.getElementById('drop-area')

    ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, preventDefaults, false);
    });

    function preventDefaults(e) {
        e.preventDefault();
        e.stopPropagation()
    }

    ;['dragenter', 'dragover'].forEach(eventName => {
        dropArea.addEventListener(eventName, highlight, false)
    })

    ;['dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, unhighlight, false)
    });

    function highlight(e) {
        dropArea.classList.add('highlight')
    }

    function unhighlight(e) {
        dropArea.classList.remove('highlight')
    }

    dropArea.addEventListener('drop', handleDrop, false);

    function handleDrop(e) {
        let dt = e.dataTransfer;
        let files = dt.files;

        handleFiles(files)
    }

    function handleFiles(files) {
        files = [...files];
        files.forEach(uploadFile)
    }

    function get_free_inputs() {
        let inputs = [];
        for (var i = 0; i < 10; i++) {
            let input = document.getElementById("id_form-" + i + "-image");
            if (!input.value) {
                inputs.push(input)
            }
        }
        return inputs
    }

    function uploadFile(file) {
        let inputs = get_free_inputs();
        
        if (inputs.length == 0) {
            alert('Нельзя загрузить более 10 картинок');
            return
        }

        const dT = new DataTransfer();
        dT.items.add(file);
        inputs[0].files = dT.files;

        let input_id = inputs[0].id[8];

        previewFile(file, input_id)
    }

    function removeFile(e) {
        let current_id = e.target.id[e.target.id.length - 1];

        document.getElementById("id_form-" + current_id + "-image").value = '';
        e.target.parentNode.remove()
    }

    function previewFile(file, input_id) {
        let reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onloadend = function () {
            let imgDiv = document.createElement('div')
            imgDiv.style.cssText = 'position: relative;'
            imgDiv.classList.add('img-div')

            let img = document.createElement('img');
            img.src = reader.result;

            let rmBtn = document.createElement('div')

            rmBtn.id = "image_preview-" + input_id;
            rmBtn.classList.add('float-left')
            rmBtn.classList.add('close');
            rmBtn.onclick = removeFile;
            rmBtn.innerHTML = 'X';

            imgDiv.appendChild(img)
            imgDiv.appendChild(rmBtn)

            document.getElementById('gallery').appendChild(imgDiv)
        }
    }
</script>