<div class="card mb-3 text-left post-item">
    <div class="card-body pb-0 mb-0">
        <div class="post-author">
            <img src="{{ post.get_owner.image.url }}" class="rounded-circle border float-left" width="40" height="40">

            <div class="name-date float-left ml-2 mb-0 pb-0">
                <a href="{{ post.get_link }}">
                    {{ post.get_owner_name }} <small class="text-muted">поделился(-ась) записью {% if post.is_reposted %}
                                                                                                    {% if post.owner %}
                                                                                                        (<a href="/accounts/profile/{{ post.owner.profile.custom_url }}/">{{ post.owner.profile.get_name }}</a>)
                                                                                                    {% else %}
                                                                                                        (<a href="/community/{{ post.owner_community.custom_url }}/">{{ post.owner_community.name }}</a>)
                                                                                                    {% endif %}
                                                                                                {% endif %}</small>
                </a>
                <p style="margin-top: -5px;">
                    <small class="text-muted">{{ post.date }}</small>
                </p>
            </div>

            <div class="post-edit float-right">
                <button class="btn btn-outline-primary btn-sm px-1 py-0 my-0 mr-0 rounded-pill" style="font-size: 12pt;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </button>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/post/{{ post.id }}/">Перейти к посту</a>
                    {% if user in post.get_editors %}
                        <a class="dropdown-item" onclick="remove_post(event, '/post/{{ post.id }}/remove/')">Удалить</a>
                        <a class="dropdown-item" href="/post/{{ post.id }}/edit/">Редактировать</a>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <br style="clear: both;">

        <p style="white-space: pre-wrap">{{ post.text }}</p>

        {% if post.music.count %}
            <div class="post-music mb-2">
                {% for music in post.music.all %}
                    <div>
                        <button class="btn btn-sm btn-outline-success ml-0" onclick="addMusicToPlaylist('/music/{{ music.id }}/add/')">+</button>
                        <span>{{ music.artist }} - {{ music.title }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if post.get_images %}
            <div class="post-images masonry-grid mt-2">
                {% for post_img in post.get_images %}
                    {% if forloop.first %}
                        <a data-fancybox="photo" href="{{ post_img.image.url }}" class="masonry-grid-item masonry-grid-item--width2 mx-1 {% if post.get_images.count == 1 %}w-100{% endif %}">
                            <img src="{{ post_img.image.url }}" width="100%" class="mb-1">
                        </a>
                    {% else %}
                        <a data-fancybox="photo" href="{{ post_img.image.url }}" class="masonry-grid-item mx-1">
                            <img src="{{ post_img.image.url }}" width="100%" class="mb-1">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <hr class="my-1">
        {% endif %}

        <div class="post-manage">
            {% if post in user.profile.liked_posts.all %}
                <a name="like" class="text-danger" onclick="likePost(event, '{{ post.id }}')">
                    <span class="like-counter">{{ post.likes.count }}</span>
                    <i class="fa fa-heart" aria-hidden="true"></i>
                </a>
            {% else %}
                <a name="like" class="text-muted" onclick="likePost(event, '{{ post.id }}')">
                    <span class="like-counter">{{ post.likes.count }}</span>
                    <i class="fa fa-heart" aria-hidden="true"></i>
                </a>
            {% endif %}
            <a name="comment" class="text-muted mb-0 ml-2" onclick="showComments(event, '{{ post.id }}')" js-data="1">
                <span class="comment-counter">{{ post.amount_of_comments }}</span>
                <i class="far fa-comment"></i>
            </a>
            {% if c_user != user %}
                <a href="/post/{{ post.id }}/rt/" class="text-muted mb-0 ml-2">
                    <span class="repost-counter">{{ post.get_rt_count }}</span>
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>

        <div class="post-send-comment border-top mt-1 mb-0 pb-0">
            <form onsubmit="return sendCommentInd(event)" method="POST" class="md-form input-group mt-2 mb-2">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <input type="text" class="form-control comment-input" name='text' placeholder="Оставить комментарий...">
                <div class="input-group-append">
                    <button class="btn btn-md btn-outline-primary m-0 px-3" type="submit">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    {% if post.comments %}
        <div class="card-footer post-comments pt-1">
            {% include 'post/comments.html' %}
        </div>
    {% endif %}
</div>
