{% load static %}
<button type="button"
        class="btn btn-flat btn-sm px-3 my-0 float-right mr-3"
        data-placement="top"
        title="Редактировать"
        style="display: inline-block; box-shadow: none;"
        data-toggle="modal"
        data-target="#EditConvModal"
        onclick="" xmlns="http://www.w3.org/1999/html">
        <img src="{% static 'img/edit_icon.svg' %}" width="20" height="20">
</button>

<div class="modal fade" id="EditConvModal" tabindex="-1" role="dialog" aria-labelledby="EditConvModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="EditConvModalLabel">Редактировать чат</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5 class="text-center">Имя чата</h5>
            <script src="{% static 'js/autosize.min.js' %}"></script>
            <textarea class="form-control w-100" rows="1" style="resize: none; padding: 0px 2px;" id="id-chat-name-change" maxlength="25">{{ c_room.chat_name }}</textarea>
            <script>autosize(document.getElementById('id-chat-name-change'))</script>
            <hr>
            <div>
            {% if c_room.participants.all %}
                <h5 class="text-center">Участники</h5>
                <ul class="list-group list-group-flush" id="friend-list-modal">
                    {% for participant in c_room.participants.all %}
                        {% if participant != c_room.owner %}
                            <div>
                                <li class="list-group-item">
                                    <img src="{{ participant.profile.image.url }}" class="rounded-circle border float-left" width=40 height=40>
                                    <a class="float-left ml-2" style="text-decoration: none;" href="/accounts/profile/{{ participant.profile.custom_url }}/">{{ participant.profile.get_name }}</a>
                                    {% if participant in c_room.administrators.all %}
                                        <small class="text-muted float-left">(admin)</small>
                                    {% endif %}
                                    <script src="{% static 'js/remove_from_chat.js' %}"></script>
                                    <script>
                                        csr_token = '{{ csrf_token }}';
                                    </script>
                                    <button type="button"
                                                class="btn btn-outline-dark float-right btn-sm px-3 my-0 mr-0"
                                                data-placement="top"
                                                title="Исключить"
                                                style="display: inline-block;"
                                                onclick="removeFromChat(event, '/chat/{{ c_room.id }}/remove/{{ participant.id }}/')">
                                            <img src="{% static 'img/cross_icon.svg' %}" width="20" height="20">
                                    </button>
                                    {% if user == c_room.owner and participant not in c_room.administrators.all %}
                                        <form method="POST" action="/chat/{{ c_room.id }}/makeadmin/{{ participant.id }}/" id="id-form-makeadmin" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="button"
                                                        class="btn btn-outline-dark float-right mr-2 btn-sm px-3 my-0"
                                                        data-placement="top"
                                                        title="Сделать администратором"
                                                        style="display: inline-block;"
                                                        onclick="document.getElementById('id-form-makeadmin').submit(); chatSocket.send(JSON.stringify({
                                                        'message': 'Новый админимтратор ' + '{{ participant.profile.get_name }}' + '!',
                                                        'author': {{ c_room.owner.id }},
                                                        'chat_id': roomName,
                                                    }));">
                                                    <img src="{% static 'img/add_admin.svg' %}" width="20" height="20">
                                            </button>
                                        </form>
                                    {% elif user == c_room.owner and participant in c_room.administrators.all %}
                                        <form method="POST" action="/chat/{{ c_room.id }}/rmadmin/{{ participant.id }}/" id="id-form-makeadmin">
                                            {% csrf_token %}
                                            <button type="button"
                                                        class="btn btn-outline-dark float-right mr-2 btn-sm px-3 my-0"
                                                        data-placement="top"
                                                        title="Отобрать права администратора"
                                                        style="display: inline-block;"
                                                        onclick="document.getElementById('id-form-makeadmin').submit(); chatSocket.send(JSON.stringify({
                                                        'message': '{{ participant.profile.get_name }}' + ' больше не администратор!',
                                                        'author': {{ c_room.owner.id }},
                                                        'chat_id': roomName,
                                                    }));">
                                                    <img src="{% static 'img/remove_admin.svg' %}" width="20" height="20">
                                            </button>
                                        </form>
                                    {% endif %}
                                </li>
                            </div>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                Список участников пуст
            {% endif %}
            </div>
            <hr>
            {% if user == c_room.owner %}
                 <form method="POST" action="/chat/{{ c_room.id }}/remove/" id="id-form-removechat" class="text-center">
                    {% csrf_token %}
                    <button type="button"
                                class="btn btn-danger text-center mr-2 float-left"
                                data-placement="top"
                                title="Удалить чат"
                                style="display: inline-block;"
                                onclick="document.getElementById('id-form-removechat').submit();">
                            Удалить чат
                    </button>
                </form>
            {% endif %}
            <a href="/chat/change_avatar/{{ c_room.id }}/" class="btn btn-primary float-left">Сменить аватар</a>
            <button class="btn btn-secondary float-right" data-dismiss="modal">Закрыть</button>
            <button class="btn btn-primary float-right" data-dismiss="modal" onclick="editChatName(event, '/chat/edit_chat_name/{{ c_room.id }}/')">Сохранить</button>
          </div>
        </div>
    </div>
</div>

<script src="{% static 'js/edit_chat_name.js' %}"></script>
<script>
    csr_token = '{{ csrf_token }}';
</script>
