{% extends "account/landing.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block PageName %}Login{% endblock %}

{% block landing %}
    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <h4>Войдите в ваш аккаунт</h4>
        <hr>
        {{ form | crispy }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-primary btn-block">
            Войти
        </button>
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}" style="position: absolute; top: 44.5%; right: 25px;">
            {% trans "Forgot Password?" %}
        </a>

        <div class="separator mt-3 text-muted mb-3">Или</div>

        <a class="btn btn-block text-white" style="background-color: #4C75A3;" href="{% provider_login_url "vk" %}">
            <i class="fab fa-vk pr-1"></i> ВКонтакте
        </a>
        <a class="btn btn-block text-white mt-2 mb-2" style="background-color: #3B5998;" href="{% provider_login_url "facebook" %}">
            <i class="fab fa-facebook-f pr-1"></i> Facebook
        </a>

        <small class="text-muted">
            Нету аккаунта? <a href="{{ signup_url }}">Зарегистрируйтесь</a> 
            это действительно просто, и вы можете начать пользоваться всеми преимуществами!
        </small>
    </form>
{% endblock %}
