{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block PageName %}Logout{% endblock %}
{% block content %}
<style>
  .card{
  text-align: center;
  position: absolute;
  border: 2px solid grey;
  top: 24.8%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)

  }


</style>
<div class="card" style="width: 36rem;">
  <div class="card-body">
<h1>{% trans "Sign Out" %}</h1>
<hr style="border: 1px solid grey;">
<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
