{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block PageName %}Сброс пароля{% endblock %}
{% block content %}
<style>
  .card{
  text-align: center;
  position: absolute;
  border: 2px solid grey;
  top: 48%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)

  }


</style>
<div class="card" style="width: 36rem;">
  <div class="card-body">
    <h1>{% trans "Change Password" %}</h1>
<hr style="border: 1px solid grey;">

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
        </div>
</div>
{% endblock %}
