{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<style>
  .card{
  text-align: center;
  position: absolute;
  border: 2px solid grey;
  top: 24.6%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)

  }


</style>
<div class="card" style="width: 36rem;">
  <div class="card-body">

    <h1>{% trans "Set Password" %}</h1>
<hr style="border: 1px solid grey;">

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
  </div>
</div>
{% endblock %}
