{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<style>
  .card{
  text-align: center;
  position: absolute;
  border: 2px solid grey;
  top: 36.2%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
</style>
<div class="card" style="width: 36rem;">
  <div class="card-body">
    <h1>{% trans "Password Reset" %}</h1>
      <hr style="border: 1px solid grey;">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
      <br>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>
<hr style="border: 1px solid grey;">
      <br>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
</div>
{% endblock %}
