{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<style>
  .card{
  text-align: center;
  position: absolute;
  border: 2px solid grey;
  top: 24.6%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)

  }


</style>
<div class="card" style="width: 36rem;">
  <div class="card-body">

<h1>{% trans "Sign Up Closed" %}</h1>
<hr style="border: 1px solid grey;">

<p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
        </div>
</div>
{% endblock %}
