{% extends 'base.html' %}


{% block main %}
    <div class="container px-0">
        <h2 class="w-100 text-center mt-4">Все разработчики</h2>
        <div class="row mt-3">
            {% if user.is_superuser %}
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3" style="position: relative; height: 435px;">
                    <div class="card text-center">
                        <div class="aqua-gradient form-hide" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 99;" onclick="this.remove()">
                            <p style="margin-top: 40%; color: white; font-size: 50pt;">
                                +
                            </p>
                        </div>
                        <div class="card-body">
                            <h5>Добавить себя</h5>
                            <form method="POST" class="md-form mb-0">
                                {% csrf_token %}

                                <input type="text" placeholder="Имя" name="name" class="form-control">

                                <input type="text" placeholder="Роль" name="role" class="form-control">
                                <small class="text-muted">Пример: 'Teamleader, main backend developer'</small>

                                <input type="text" placeholder="Девиз" name="phrase" class="form-control">
                                <small class="text-muted">Пример: 'Работает и хрен с ним'</small>

                                <input type="number" placeholder="Кол-во коммитов" name="commits" class="form-control" min="0" max="500">

                                <input type="text" placeholder="Вкраце о том что вы сделали" name="tasklist" class="form-control">

                                <button type="submit" class="btn btn-block btn-success mx-0 mt-3">Добавить</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for dev in devs %}
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
                    <div class="card text-center content" style="height: 435px;">
                        {% if user == dev.user %}
                            <a style="position: absolute; top: -8px; right: -8px; width: 25px; border: 1px solid white;"
                                class="text-white rounded-pill bg-danger"
                                href="/about/{{ dev.id }}/remove/">X</a>
                        {% endif %}
                        <div class="card-header py-5 {{ dev.gradient }}"></div>
                        <a href="/accounts/profile/{{ dev.user.profile.custom_url }}/">
                            <img src="{{ dev.user.profile.image.url }}"
                                class="rounded-circle mx-auto"
                                width="150"
                                height="150"
                                style="margin-top: -75px; border: 5px solid white;">
                        </a>
                        <div class="card-body px-0" style="position: relative;">
                            <a href="/accounts/profile/{{ dev.user.profile.custom_url }}/" class="text-dark">
                                <h5 class="card-title">{{ dev.name }}</h5>
                            </a>
                            <small class="text-muted">{{ dev.role }}</small>

                            <div class="front">
                                <p class="card-text mt-4">"{{ dev.phrase }}"</p>

                                <p class="card-text">~{{ dev.commits }} коммитов</p>

                            </div>

                            <div style="position: absolute; bottom: 0; width: 100%; background-color: #eceff1; font-size: 11pt; color: #7B7E80;" class="py-2 more-info">
                                Наведите чтобы узнать больше
                            </div>

                            <div class="back">
                                <p class="mt-4 card-text mb-2">Участие в проекте:</p>
                                <p class="card-text">{{ dev.task_list }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </h2>
    </div>
{% endblock main %}


{% block extra_head %}
    <style>
        .form-hide {
            transition-duration: .5s;
        }

        .form-hide:hover {
            opacity: .7;
        }

        .content:hover .front {
            opacity: 0;
        }

        .content:hover .more-info {
            opacity: 0;
        }

        .content:hover .back {
            opacity: 1;
        }

        .back {
            transition-duration: .5s;
            opacity: 0;

            position: absolute;
            width: 100%;
        }

        .front {
            transition-duration: .5s;

            position: absolute;
            width: 100%;
        }

        .more-info {
            transition-duration: .5s;
        }
    </style>
{% endblock extra_head %}

