{% extends 'base_menu.html' %}

{% block center %}
    <div class="card">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ postform }}
                
                {{ formset.management_form }}
                <ul id="simple-list" class="list-group list-group-flush">
                    {% for form in formset %}
                        <li class="list-group-item">
                            {{ form.image }}
                            {{ form.ORDER }}
                            {{ form.id }}
                            <img src="{{ form.initial.image.url }}" class="w-50">
                        </li>
                    {% endfor %}
                </ul>

                <input type="submit" value="Save">
            </form>
        </div>
    </div>
{% endblock center %}

{% block extra__js %}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
    <script defer>
        var sortable = new Sortable(
            $('#simple-list')[0],
            {
                onEnd: function (evt) {
                    for (var i=0; i < $('#simple-list').children().length; i++) {
                        let order = $('#simple-list').children().eq(i).children('input[type=number]')
                        order.val(i + 1)
                    }
                },
            }
        )
    </script>
{% endblock extra__js %}
