{% extends 'base_menu.html' %}

{% block center %}
    <div class="card">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ postform }}
                
                {{ formset.management_form }}
                {% for form in formset %}
                    {{ form }}
                    <hr>
                {% endfor %}

                <input type="submit" value="Save">
            </form>
        </div>
    </div>
{% endblock center %}