{% extends 'base_menu.html' %}
{% load cropping %}

{% block center %}
    <div class="card mt-3">
        <div class="card-body text-left">
            <img src="{% cropped_thumbnail post.user.profile "cropping" %}" class="rounded-circle border border-dark" width=35 height=35>
            <a href="/accounts/profile/{{ post.user.id }}/">{{ post.user.username }}</a>
            <p class="card-text mt-2">{{ post.text }}</p>

            {% if post.get_images %}
                {% for post_img in post.get_images %}
                    <img src="{{ post_img.image.url }}" width="100%" class="mb-1">
                {% endfor %}
            {% endif %}

            <hr class="mt-1 mb-1">
            <a href="post/{{ post.id }}" class="text-muted mb-0 float-left">Comment</a>
            <span class="text-muted mb-0 float-right">{{ post.date }}</span>
        </div>
    </div>
{% endblock %}