{% extends 'base.html' %}

{% block main %}

    <hr>

    <div style="width:100%; margin:0 auto;">

    <div style="width:20%; float:left;">
        {% include 'navs.html' %}
    </div>

    <div style="width:20%; float:right;">
        {% include 'menu_main.html' %}
    </div>

    <div style="margin:0 20% 0 20%">
        {% include 'posts.html' %}
    </div>
    <h1>All users</h1>
    {% for i in user %}
        <h2>{{ i.username }}</h2>
        {% if  not i in friends %}
       <a href="{% url 'change_friends' 'add' i.pk %}">
        <button type="button" class="btn btn-success">Добавить дргуа</button>
        </a>
        {% endif %}
    {% endfor %}

    <h1>Friends</h1>
    {% for friend in friends %}
        <h2>{{ friend.username }}</h2>
         <a href="{% url 'change_friends' 'remove' friend.pk %}">
        <button type="button" class="btn btn-danger">Убрать дргуа</button>
        </a>
    {% endfor %}
    </div>

{% endblock %}
