{% extends 'base.html' %}

{% block main %}
    {% if posts %}
        {% for post in posts %}
                <div class="card text-center">
                    <p class="card-header">
                    published: {{ post.date }} by {{ post.user }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="">{{ post.name_of_post }}</a></h5>
                        <p class="card-text">{{ post.text|linebreaksbr }}</p>
                    </div>
                </div>
        {% endfor %}

    {% else %}
            <div class="card text-center">
                <div class="card-body">
                    <p class="card-text">
                    <div>Postov net</div></p>
                </div>
            </div>
    {% endif %}
{% endblock %}
<!--Заглушка для проверки постов, можно удалить/для чего использовать-->