<form method="POST" action="/post/create/" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group">
        {{ postform }}

        <div class="input-group-append">
            <button class="btn btn-outline-secondary all" type="submit" id="button-addon">
                <img src="https://image.flaticon.com/icons/svg/786/786205.svg" width=20 height=20>
            </button>
        </div>
    </div>

    <!--<hr>
    <style>
    .none-image {
        border: 1px dashed;
        border-radius: 7px;
    }

    .none-image:hover {
        background-color: #DEDEDE;
    }

    .none-image:active {
        background-color: #D5D5D5;
    }
    </style>
    <div class="row ml-1 mr-1">
        {% for i in '0123456789'|make_list %}
            <div class="col ml-1 mr-1 mt-1 text-center none-image" style="height: 70px;" id="upload-image-{{ i }}">
                <img src="https://image.flaticon.com/icons/svg/1578/1578253.svg" width=25 height=25 class="mt-4">
            </div>
        {% endfor %}
    </div>
    <hr>-->

    {{ formset.management_form }}
    {% for form in formset %}
        {{ form }} <br>
    {% endfor %}
</form>