{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="container">
        <div class="card mt-3">
            <div class="card-header">
                {{ username }}
            </div>
            <div class="card-body">
                <a href="#">Подключить VK</a><br>
                <a href="#">Подключить Twitter</a><br>
                <a href="#">Подключить Instagram</a><br>
                <a href="#">Подключить Facebook</a><br>
                <a href="#">Подключить Telegram</a>
            </div>
        </div>
    </div>
{% endblock %}
