{% extends 'community/base.html' %}


{% block center %}
<div class="row text-left">

    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title float-left">{{ community.name }}</h5>
                <br>
                <hr>
                <p class="card-text">{{ community.info }}</p>

            </div>
        </div>

        {% if user == community.owner %}
        <div class="mt-3">
            {% include 'post/post_menu.html' %}
        </div>
        {% endif %}

      {% if community.posts %}
        {% for post in community.posts %}
        <div class="card mt-3">
            <div class="card-body">
                <img src="{{ post.get_owner.image.url }}" class="rounded-circle border border-dark"
                     width=35 height=35>
                <a href="{{ post.get_link }}">{{ post.get_owner_name }}</a>
                <p class="card-text mt-2">{{ post.text }}</p>

                {% if post.get_images %}
                {% for post_img in post.get_images %}
                <img src="{{ post_img.image.url }}" width="100%" class="mb-1">
                {% endfor %}
                {% endif %}

                <hr class="mt-1 mb-1">
                <span class="text-muted mb-0 float-right">{{ post.date }}</span>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5 class="mt-3 text-center">Нет постов.</h5>
        {% endif %}
    </div>
  </div>
{% endblock %}

{% block right %}
  <div class="w-100">
    <div class="card">
      <style>
        .rollover {
          transition: 0.3s;
        }

        .rollover:hover {
          transition: 0.7s;
          opacity: 0.7;
        }
      </style>
      <img src="{{ community.image.url }}" class="card-img-top rollover" />
      <div class="card-body">
          <hr class="mt-0">
          {% if user == community.owner %}
          <a href="/community/{{ community.id }}/edit_community/"
              class="btn btn-block btn-primary">Редактировать</a>
          <hr class="mt-0">
          {% endif %}
          {% if user in community.users.all %}
          <a href="/community/{{ community.id }}/leave/" class="btn btn-block btn-primary">Отписаться</a>
          {% else %}
          <a href="/community/{{ community.id }}/join/" class="btn btn-block btn-primary">Подписаться</a>
          {% endif %}
      </div>
    </div>
    <div class="card mt-3 mb-3">
      <div class="card-body">
        <h6 class="card-title">Истории</h6>
      </div>
    </div>
    <div class="card mt-3 mb-3">
      <div class="card-body">
        <h6 class="card-title">Подписаны</h6>
      </div>
    </div>
  </div>
{% endblock right %}
