{% extends 'base_menu.html' %}
{% load cropping %}

{% block center %}

<div class="card">
    <div class="card-header">
        Список сообществ
    </div>
    <div class="card-body">
        {% if user.profile.communities.all %}
        <ul class="list-group list-group-flush">
            {% for community in user.profile.communities.all %}
            <li class="list-group-item">
                <img src="{% cropped_thumbnail community "cropping" %}" class="rounded-circle border border-dark float-left" width=35 height=35>
                <a href="/community/{{ community.id }}/" class="float-left ml-2">{{ community.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        Список сообществ пуст.
        {% endif %}
    </div>
</div>


{% endblock %}

{% block right %}
    {% include 'community/right_menu.html' %}
{% endblock %}