{% extends 'base_menu.html' %}
{% load static %}


{% block extra_head %}

<link rel="stylesheet" href="{% static 'css/post.css' %}">

{% endblock extra_head %}



{% block center %}

<div class="row text-left">

    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title float-left">{{ community.name }}</h5>
                <br>
                <hr>
                <p class="card-text" style="white-space: pre-wrap">{{ community.info }}</p>

            </div>
        </div>

        {% if user in community.admin.all %}
            <div class="mt-3">
                {% include 'post/post_menu.html' %}
            </div>
        {% endif %}

        {% for post in community.posts %}
            <div class="infinite-item">
                {% include 'post/post.html' %}
            </div>
        {% empty %}
            <h5 class="mt-3 text-center">Нет постов.</h5>
        {% endfor %}
    </div>
</div>

{% endblock center %}


{% block right %}

<div class="w-100">
    <div class="card">
        <style>
            .rollover {
                transition: 0.3s;
            }

            .rollover:hover {
                transition: 0.7s;
                opacity: 0.7;
            }
        </style>
        {% if user == community.owner %}
            <a href="/community/{{ community.id }}/change_avatar/">
                <img src="{{ community.image.url }}" class="card-img-top rollover" />
            </a>
        {% else %}
            <img src="{{ community.image.url }}" class="card-img-top" />
        {% endif %}
        <div class="card-body">
            <hr class="mt-0">
            {% if user == community.owner %}
                <a href="/community/{{ community.id }}/edit/" class="btn btn-block btn-primary px-1">Редактировать</a>
                <hr class="mt-0">
            {% endif %}
            {% if user in community.users.all %}
                <a href="/community/{{ community.id }}/leave/" class="btn btn-block btn-primary px-1">Отписаться</a>
            {% else %}
                <a href="/community/{{ community.id }}/join/" class="btn btn-block btn-primary px-1">Подписаться</a>
            {% endif %}
        </div>
    </div>
    <div class="card mt-3 mb-3">
        <div class="card-body">
            <h6 class="card-title">Истории</h6>
        </div>
    </div>
    <div class="card mt-3 mb-3">
        <div class="card-body">
            <h6 class="card-title">Подписаны</h6>
        </div>
    </div>
</div>

{% endblock right %}


{% block extra__js %}

<script src="{% static 'js/manage_post.js' %}"></script>
<script src="{% static 'js/noframework.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>

{% endblock extra__js %}