{% extends 'base_menu.html' %}

{% load static %}

{% block center %}
{% endblock center %}

{% block right %}
    <div class="friends-right-menu">
        <a class="mt-0 btn waves-effect mx-0 w-100 pl-3 pr-1 text-left py-2
        {% if friends_pages == 'my_list' and user == c_user %}btn-primary{% else %}btn-outline-primary{% endif %}" href="/friends/">
            Мои друзья
        </a>
        {% if user == c_user %}
            <a class="btn waves-effect mx-0 w-100 pl-3 pr-1 text-left py-2
            {% if friends_pages == 'requests' %}btn-primary{% else %}btn-outline-primary{% endif %}" href="/friends/requests/">
                Заявки
            </a>
        {% endif %}
        <a class="btn waves-effect mx-0 w-100 pl-3 pr-1 text-left py-2
        {% if friends_pages == 'blacklist' %}btn-primary{% else %}btn-outline-primary{% endif %}" href="/friends/blacklist/">
            Черный список
        </a>
    </div>
{% endblock right %}

{% block extra__js %}
    <script src="{% static 'js/manage_friends.js' %}"></script>
    <script src="{% static 'js/noframework.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script>
     var infinite = new Waypoint.Infinite({
	 element: $('.infinite-container')[0]
     });
    </script>
{% endblock extra__js %}
