{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="container">
        <div class="card text-center mx-auto mt-3 w-50">
            <div class="card-header text-center">
                Авторизация | <a href="/register/">Регистрация</a>
            </div>
            <div class="card-body">
                <form method="post" action="/login/" novalidate>
                    <style>
                        .asteriskField {
                            display: none;
                        }
                    </style>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary mt-4" value="Войти">
                    <a href="pass-reset/" class="btn btn-light mt-4">Забыли пароль?</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
