{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="container">
        <div class="card text-center mx-auto mt-3 w-50">
            <div class="card-header text-center">
                <a href ='/login/'> Авторизация </a> | Регистрация
            </div>
            <div class="card-body">
                <form action="" method="post">
                  {% csrf_token %}
                    {{ form|crispy }}
                  <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
