{% extends 'base.html' %}

{% block main %}
    <div class="container"> <!-- Это вставь вместо всего в блок main -->
	<div class="row">
	    {% if devs %}
		{% for dev in devs %}

		    <div class="col-3 mb-3">
			<div class="card-container">
			    <div class="card">
				<div class="front">
				    <img src="https://api.adorable.io/avatars/150/1">
				    <h4 class="card-title">{{ dev.name }}</h4>
				    <h4 class="text-center">Роли в команде</h4>
				    <p class="text-center" style="font-size: 14px">
					{{ dev.role }}
				    </p>
				    <div class="stats-container">
					<div class="stats">
					    <h4>~{{ dev.commits }}</h4>
					    <p style="font-size: 14px">
						Коммитов
					    </p>
					</div>
					<div class="stats">
					    <h4>~{{ dev.issiues }}</h4>
					    <p style="font-size: 14px">
						Созданных issue
					    </p>
					</div>
				    </div>
				    <p class="text-center" style="font-size: 14px">"{{ dev.phrase }}"</p>
				    <div class="card-footer">
					<i class="fa fa-mail-forward" aria-hidden="true"></i> Наведите для большей информации
				    </div>

				</div>
				<div class="back">
				    <div>
					{% autoescape off %}
					    {{ dev.task_list }}
					{% endautoescape %}					
				    </div>
				    <div class="footer">
					<div class="email mt-2 text-center"><a href="{{ dev.contact }}">контакт</a>
					</div>
					<div class="social-links text-center">
					    <a href="" class="facebook icon"><i class="fab fa-vk fa-fw" aria-hidden="true"></i></a>
					    <a href="" class="google icon"><i class="fab fa-telegram-plane fa-fw" aria-hidden="true"></i></a>
					</div>
				    </div>
				</div>
			    </div>
			</div>
			
		    </div>

		{% endfor %}
	    {% endif %}

	</div>
    </div>


    {% if devform %}
	<form method="POST" action="/aboutform/">
	    {% csrf_token %}
	    {{ devform.as_p }}
	    <button type="submit" class="btn btn-block btn-primary mt-3">
		Сохранить</button>
	</form>

    {% endif %}

{% endblock %}


{% block extra_head %}
    <style>
     .card-container {
	 -webkit-perspective: 500px;
         perspective: 500px;
     }

     .card-container:hover .card{
	 -webkit-transform: rotateY( 180deg );
         transform: rotateY( 180deg );
     }

     .card {
	 -webkit-transition: -webkit-transform 0.7s;
         transition: transform 0.7s;
	 -webkit-transform-style: preserve-3d;
         transform-style: preserve-3d;
     }

     .front, .back {
	 -webkit-backface-visibility: hidden;
         backface-visibility: hidden;
     }

     .front{
	 transform: rotateX(0deg);
     }

     .back {
	 -webkit-transform: rotateY( 180deg );
         transform: rotateY( 180deg );
     }

     /*Custom Styles*/
     .cards-container{
	 display: -webkit-flex;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-flex-direction: row;
	 -webkit-box-orient: horizontal;
	 -webkit-box-direction: normal;
	 -ms-flex-direction: row;
         flex-direction: row;
	 -webkit-box-pack: center;
	 -webkit-justify-content: center;
	 -ms-flex-pack: center;
         justify-content: center;
     }

     .card {
	 width: 350px;
	 height: 600px;
	 margin: 10px;
     }

     .front, .back {
	 box-shadow: 0 1px 6px 0;
	 position: absolute;
	 width: 100%;
	 top: 0;
	 bottom: 0;
     }

     img {
	 display: block;
     }

     .card .motto {
	 border-bottom: 1px solid #EEEEEE;
	 color: #999999;
	 font-size: 14px;
	 font-weight: 400;
	 padding-bottom: 10px;
	 text-align: center;
     }

     .card .footer {
	 border-top: 1px solid #EEEEEE;
	 color: #999999;
	 margin: 50px 0 0;
	 padding: 10px 0 0;
	 text-align: center;
     }
    </style>
    
{% endblock extra_head %}

{% block PageName %}О нас{% endblock PageName %}
