{% extends 'base.html' %}

{% block main %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-2 col-md-12 px-0 order-lg-1 order-md-1 mb-3 mx-lg-0 mx-md-3 mr-3 ml-3 order-1">
                {% include 'navigation_menu.html' %}
            </div>
            <div class="col-lg-8 col-md-12 order-lg-2 order-md-3 px-lg-3 px-md-0 order-3">
                {% block center %}
                {% endblock %}
            </div>
            <div class="col-lg-2 col-md-12 px-0 order-lg-3 order-md-2 mb-3 order-2 mx-lg-0 mx-md-3 mx-3">
                {% block right %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}