{% extends 'base_menu.html' %}
{% load static %}

{% block center %}
    {% include 'post/post_menu.html' %}

    <div class="infinite-container mt-3">
        {% for post in user.profile.get_newsfeed %}
            <div class="infinite-item">
                {% include 'post/post.html' %}
            </div>
        {% empty %}
            <div class="card card-body mt-3">
                <p>Новостей нет</p>
            </div>
        {% endfor %}
    </div>
{% endblock center %}

{% block right %}
    <div class="card mb-3">
        <div class="card-body px-0 py-0">
            <a href="https://clck.yandex.ru/redir/dtype=stred/pid=7/cid=1228/*https://yandex.ru/pogoda/213" target="_blank">
                <img src="https://info.weather.yandex.net/213/2_white.ru.png?domain=ru" border="0" alt="Яндекс.Погода" class="w-100"/>
                <img width="1" height="1" src="https://clck.yandex.ru/click/dtype=stred/pid=7/cid=1227/*https://img.yandex.ru/i/pix.gif" alt="" border="0"/></a>
        </div>
    </div>
    <div class="card">
        <div class="card-body px-2">
            <p class="mb-0">Рекомендуемые сообщества</p>
            {% for community in user.profile.get_recommended_communities %}
                <div class="mt-1">
                    <img src="{{ community.image.url }}" class="rounded-circle border" width="40" height="40">
                    <a href="/community/{{ community.custom_url }}/" class="text-truncate" style="max-width: 115px;">{{ community.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock right %}

{% block extra__js %}
    <script src="{% static 'js/noframework.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0]
        });
    </script>
{% endblock extra__js %}
