{% extends 'base_menu.html' %}
{% load static %}


{% block extra_head %}

<link rel="stylesheet" href="{% static 'css/post.css' %}">

{% endblock extra_head %}


{% block center %}

{% include 'post/post_menu.html' %}

{% include 'histories.html' %}

{% if newsfeed %}
    <div class="infinite-container">
        {% for post in newsfeed %}
            <div class="infinite-item">
                {% include 'post/post.html' %}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if newsfeed.has_next %}
    <a class="infinite-more-link" href="?page={{ newsfeed.next_page_number }}">More</a>
{% else %}
    <p class="mt-3">Новостей нет.</p>
{% endif %}

{% endblock center %}

{% block right %}
    Не знаю что сюда впихнуть
{% endblock %}


{% block extra__js %}

<script src="{% static 'js/manage_post.js' %}"></script>
<script src="{% static 'js/noframework.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0]
    });
</script>

{% endblock extra__js %}